.nav-container {
  background-color: rgba(19, 19, 19, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 25px 60px;
}
.account-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movie-logo {
  width: 130%;
}
.ul-nav-links {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}
li {
  margin: 0px 25px;
  color: aliceblue;
  font-size: "Roboto";
  font-weight: 500;
  font-size: 20px;
}
.account-image {
  margin: 0px 30px;
}
